In [101]:
### Import packages
import pandas as pd
import matplotlib.pyplot as plt

In [136]:
### Store data from dataset
data = pd.read_csv("water.csv")
data = pd.DataFrame(data)
data

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [137]:
data = data.drop(["Potability", "Trihalomethanes", "Sulfate", "Conductivity", "Turbidity", "Organic_carbon"], axis=1).values
df = pd.DataFrame(data)
df.round()

        0      1        2    3
0     NaN  205.0  20791.0  7.0
1     4.0  129.0  18630.0  7.0
2     8.0  224.0  19910.0  9.0
3     8.0  214.0  22018.0  8.0
4     9.0  181.0  17979.0  7.0
...   ...    ...      ...  ...
3271  5.0  194.0  47581.0  7.0
3272  8.0  194.0  17330.0  8.0
3273  9.0  176.0  33156.0  7.0
3274  5.0  231.0  11984.0  6.0
3275  8.0  195.0  17404.0  8.0

[3276 rows x 4 columns]

In [138]:
df = df.rename({0:"ph", 1:"Hardness", 2:"Solids", 3:"Chloramines"}, axis="columns")
df

            ph    Hardness        Solids  Chloramines
0          NaN  204.890455  20791.318981     7.300212
1     3.716080  129.422921  18630.057858     6.635246
2     8.099124  224.236259  19909.541732     9.275884
3     8.316766  214.373394  22018.417441     8.059332
4     9.092223  181.101509  17978.986339     6.546600
...        ...         ...           ...          ...
3271  4.668102  193.681735  47580.991603     7.166639
3272  7.808856  193.553212  17329.802160     8.061362
3273  9.419510  175.762646  33155.578218     7.350233
3274  5.126763  230.603758  11983.869376     6.303357
3275  7.874671  195.102299  17404.177061     7.509306

[3276 rows x 4 columns]

In [141]:
### Filling NaN values
df = df.bfill()
df.round()

       ph  Hardness   Solids  Chloramines
0     4.0     205.0  20791.0          7.0
1     4.0     129.0  18630.0          7.0
2     8.0     224.0  19910.0          9.0
3     8.0     214.0  22018.0          8.0
4     9.0     181.0  17979.0          7.0
...   ...       ...      ...          ...
3271  5.0     194.0  47581.0          7.0
3272  8.0     194.0  17330.0          8.0
3273  9.0     176.0  33156.0          7.0
3274  5.0     231.0  11984.0          6.0
3275  8.0     195.0  17404.0          8.0

[3276 rows x 4 columns]

In [142]:
x = df.drop(["ph"], axis=1).values
y = df["ph"].values
z = [[x]]

In [143]:
print(x)

[[2.04890455e+02 2.07913190e+04 7.30021187e+00]
 [1.29422921e+02 1.86300579e+04 6.63524588e+00]
 [2.24236259e+02 1.99095417e+04 9.27588360e+00]
 ...
 [1.75762646e+02 3.31555782e+04 7.35023323e+00]
 [2.30603758e+02 1.19838694e+04 6.30335653e+00]
 [1.95102299e+02 1.74041771e+04 7.50930586e+00]]

In [144]:
print(y)

[3.71608008 3.71608008 8.09912419 ... 9.41951032 5.12676292 7.87467136]

In [145]:
### Train the model on the training set
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [146]:
model.fit(df[["Hardness", "Solids", "Chloramines"]], df["ph"])

LinearRegression()

In [147]:
### Predicting the y values based on the x values
y_pred = model.predict(df[["Hardness", "Solids", "Chloramines"]])
y_pred

array([7.10728878, 6.8973912 , 7.13109446, ..., 6.85739876, 7.32727412,
       7.11014798])

In [132]:
### Checking the error
from sklearn.metrics import r2_score
r2_score(y, y_pred)

0.010214382634942787

In [134]:
y_pred = model.predict([[204.890455, 20791.318981, 7.300212]])
y_pred

C:\Users\saraswathi\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([7.10728877])